<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" data-dark="false">
<head>
    <meta charset="utf-=8">
    <title>Counseling List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" th:href="@{/css/chat_list.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/poll_room.js}"></script>
</head>
<script th:inline="javascript">
    $(document).ready(function(){
        checkLastRoom();
    });
</script>
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<header class="p-1 bg-dark text-white sticky-top">
    <div class="d-flex w-100 justify-content-between">
        <img th:src="@{/images/logo.png}" style="width:80px" href="#" alt=""/>
        <h5 class="head mb-1 mx-3 my-1 flex-fill">
            <div class="my-1" style="color:gray;font-size:15px">상담원</div>
            <div class="mt-1" th:text="${counName}">상담원 이름</div>
        </h5>
        <div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label><br>
            <div class="mt-2">
                <a class="logout" th:href="@{/}" style="color:#EEB500; font-size:15px;">로그아웃</a>
            </div>
        </div>
    </div>
</header>


<div class=counseling-list th:each="room: ${rooms}" style="cursor:hand">
    <div class="list-group" id="rooms"></div>
</div>
</body>
</html>