/* corp_new.php */
.wrapper {
    text-align: center;
}
.reg_form {
    margin-top: 30px;
    width: 650px;
    display:inline-block;
}
.reg_btn {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
.reg_label {
    text-align: right;
    width: 130px;
}
.btn-warning {
    color: white;
}

/* corp_list.php */
.search {
    float: right;
    display: block;
}
.new-btn {
    float: right;
}

/* corp_info.php */
.corp_info_th {
    width: 150px;
}
.corp_info_td {
    text-align: left;
}
.info_descrip {
    height: 100px;
}
.edit {
    width: 50%;
    float:left;
}