<div class="container-fluid"> <!-- 대시보드 -->
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
            <img src="../../static/images/logo.png" th:src="@{/images/logo.png}" alt="" width="210px">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-0 text-muted">
                <span>관리</span>
            </h6>
            <div class="position-sticky pt-3">
                <ul class="nav flex-column"> <!--nav-tabs -->
                    <li class="nav-item mb-3" th:remove="${auth==1}? tag:none">
                        <a class="nav-link" th:remove="${auth==1}? tag:none" aria-current="page" href="#" th:classappend="${nav.equals('corp')} ? 'active'"
                           th:onclick="|location.href='@{/corporation}'|"> <!-- active-->
                            <img src="../../static/images/corporation.svg" th:remove="${auth==1}? tag:none" th:src="@{/images/corporation.svg}" alt="" width="25px">
                            기업관리

                        </a>
                    </li>
                    <li class="nav-item mb-3">
                        <a class="nav-link" href="#" th:classappend="${nav.equals('coun')} ? 'active'"
                           th:onclick="|location.href='@{/counselor}'|">
                            <img src="../../static/images/counselor.svg" th:src="@{/images/counselor.svg}" alt="" width="25px">
                            상담원관리
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:classappend="${nav.equals('client')} ? 'active'"
                           th:onclick="|location.href='@{/client}'|">
                            <img src="../../static/images/client.svg" th:src="@{/images/client.svg}" alt="" width="25px">
                            고객관리
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>